<h1>Posts#new</h1>
<%= form_with(model:@post) do |f| %>
<div>
    <%= f.label :body %>
    <%= f.text_area :body %>
</div>
<div>
    <%= f.submit "送信する" %>
</div>
<% end %>
<%= link_to "一覧に戻る", posts_path %>